.drop-shadow {
    width: 100%;
    height: 2px;
    background: #c6c6c6;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 20%);
}

.service_container {
    display: flex;
    flex-direction: column;
    margin: 2rem 12rem;
}

.service_title {
    text-align: center;
    color:  rgb(55, 117, 76);
    font-size: 2rem;
    padding: 3rem;
    border-bottom: 2px solid rgb(211, 206, 206);
}

small {
    font-size: 1.15rem;
    color:grey;
}

.filters {
    display: flex;
    list-style-type: none;
    justify-content: center;
    border-bottom: 2px solid rgb(211, 206, 206);
}

.type_filter, .other_filters {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.service_search_submit {
    align-self: center;
    margin: 0 4rem;
    border: none;
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, #ece4d3 6%,  rgb(191, 216, 198) 100%);
    padding: 0.75rem;
    width:max-content;
    height: max-content;
}

.service_search_submit:hover {
    align-self: center;
    margin: 0 4rem;
    border: none;
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, #ece4d3 6%,  rgb(241, 191, 144) 100%);
    padding: 0.75rem;
    width:max-content;
    height: max-content;
    cursor: pointer;
}

.service_search_clear {
    font-size: 1rem;
    color:  rgb(55, 117, 76);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.service_search_clear:hover {
    font-size: 1rem;
    color:  rgb(240, 167, 99);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

