.event_card {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    border: 1px solid white
}

.event_card:hover {
    filter: drop-shadow(0 0 0.75rem rgb(243, 190, 148));
}

.event_img {
    width: 22rem;
    height: 10rem;
    object-fit: cover;
}

.event_signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup_btn {
    border: none;
    background: linear-gradient(to bottom, #ece4d3 6%, #f5ae7f 100%);
    padding: 0.5rem;
    font-weight: 700;
}

.signup_btn:hover {
    border: none;
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, #ece4d3 6%, #ecae84 100%);
    padding: 0.5rem;
    font-weight: 700;
}