

body{
    /* background-image: linear-gradient(to bottom, #ffffff, #ffffff, #e8edf6, #eae4f9, #eef2f8, #c3d7f9, #dae8fa, #d3d3f0, #e4e6f8, #c8e1f0, #dce7f5, #dae7f3); */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.nav-item {
    list-style-type: none;
}

/* General button style */
.btn {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	display: flex;
	align-items: center;
}

