.posts {
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;
    border: 2px solid rgb(250, 238, 216);
    border-radius: 1rem;
    width: 43rem;
}

.post {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem ;
    padding: 1rem;
    border-radius: 1rem;
}

.post:hover {
    display: flex;
    flex-direction: row;
    background-color: rgb(251, 242, 233);
}

.profile_img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.post_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.post_content {
    font-size: 1.2rem;
    margin: 2rem 0;
}

.post_img {
    width: 32rem;
    height: 34rem;
    object-fit: cover;
    border-radius: 2rem;
    border: 0.5px solid lightgray
}

.reactions {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1rem;
}

.reaction {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 0.25rem;
    margin-right: 4rem;
}

.reaction:hover {
    display: flex;
    align-items: center;
    border: none;
    transform: scale(1.2);
    filter: drop-shadow(0 0 0.75rem rgb(114, 44, 3)); 
}

.icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.no_posts {
    font-size: large;
    text-align: center;
    margin: 10rem
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    align-items: flex-start;
}   

.comment_info {
    margin-left: 1rem;
    background-color: rgb(240, 237, 234);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 23rem;
}

.comment_info_header {
    display: flex;
    align-items: center;
}

.comment_info_header p, i{
   font-size: 0.75rem;
   font-weight: 700;
   padding: 0 1rem 0 0;
   margin: 0;
}

.comment_profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.comment_input_wrapper {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.comment_input {
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    width: 27rem;
}

.comment_send {
    border: none;
    background-color: transparent;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

.comment_send:hover {
    border: none;
    background-color: transparent;
    border-radius: 0.5rem;
    background-color: rgb(235, 196, 183);
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
}

