.post_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 3rem;
    background-image: linear-gradient(to left top, #fff9ef, #fefaf1, #fdfcf2, #fcfdf4, #fcfef6, #fdfdf5, #fefdf5, #fffcf5, #fffaf5, #fff9f8, #fffbfd, #fdf9ff);}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(250, 238, 216);
    border-radius: 1rem;
    width: 20rem;
    height: max-content;
    margin: 2rem 0;
    padding: 1rem;
}

.my_profile_img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

/* file uploader */
.uploader::-webkit-file-upload-button {
    visibility: hidden;
}

.uploader::before {
    content: 'Upload Profile Image';
    display: inline-block;
    background: linear-gradient(top, #fffcfc, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin: 0.5rem 3rem
}

.uploader:hover::before {
    background: -webkit-linear-gradient(top, #f9f9f9, #f1c5a2 );}
/*  */

.submit_upload {
    color: darksalmon;
}

.me_name {
    margin: 0.5rem;
}

.bio {
    padding: 0;
    margin: 0.7rem;
    font-size: 1rem;
    text-align: justify;
}

.my_activity {
    justify-content: left;
    width: 12rem;
}

.my_activity:hover {
    color: darksalmon;
    transform: scale(1.2);
}

.create {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(250, 238, 216);
    border-radius: 1rem;
    width: 23rem;
    height: max-content;
    margin: 2rem 0;
    padding: 1rem;
}

.me_author {
    display: flex;
    flex-direction: row;
}

.me_author h3 {
    margin-left: 1rem;
}

textarea {
    margin: 1rem 2rem;
    padding: 0.5rem;
    height: 7rem;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
}

.img_input {
   display: flex;
   margin: 0 2rem 1rem 2rem
}

.img_input_field {
    width: 15rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey
}